#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #b039d4 0%, #FF7B47 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    max-width: 1500px;

    height: 100%;
    max-height: 720px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing1.svg') no-repeat 80% center;

}

#page-landing .content-wrapper main {
    max-width: 550px;

}

#page-landing .content-wrapper main h1 {
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    margin-bottom: 100px;
    margin-right: 10px;

}
#page-landing .content-wrapper main p {
    margin-top: 15px;
    font-size: 24px;
    line-height: 40px;
}
#voluntario {
    margin-top: 0;
}


.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;

    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    
    text-align: right;
}
.content-wrapper .location {
    font-weight: 800;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 80px;
    height: 80px;
    background: #EBCDF4;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.content-wrapper .enter-app:hover {
background-color: #F5F5F5;
}
